
<p-toast position="top-center"></p-toast>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Hesap Oluştur</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Anlaşmalı bankalardan istediğiniz hesap türü ile yeni bir hesap edinin.
            </p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="nickname" class="font-medium text-900">Banka</label>
                    <p-dropdown [options]="banks" [(ngModel)]="selectedBank" placeholder="Banka Seçiniz" optionLabel="name"></p-dropdown>
                    <small class="text-red-500" *ngIf="submitted && selectedBank==null">Lütfen banka seçiniz.</small>
                </div>
                <div class="field mb-4 col-12">
                    <label for="nickname" class="font-medium text-900">Hesap Türü</label>
                    <p-dropdown [options]="types" [(ngModel)]="selectedType" placeholder="Hesap Türü Seçiniz" optionLabel="name"></p-dropdown>
                    <small class="text-red-500" *ngIf="submitted && selectedType==null">Lütfen hesap türü seçiniz.</small>
                </div>
               
                <div class="col-12">
                    <button pButton pRipple label="Hesap Oluştur" class="w-auto mt-3" (click)="saveAccount()"></button>
                </div>
            </div>
        </div>
    </div>
</div>