
<p-toast position="top-center"></p-toast>
<div class="flex justify-content-center h-screen align-items-center">
<div class="surface-card p-4 shadow-2 border-round w-11 w-full lg:w-5">
    <div class="text-center mb-5">
        <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Banka Hesap Yönetim Sistemi</div>
        <span class="text-600 font-medium line-height-3">Hesabınız yok mu?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" (click)="dynamicDialog()">Hemen Kaydolun!</a>
    </div>

    <div>
        <label for="username" class="block text-900 font-medium mb-2">Kullanıcı Adı</label>
        <input id="username" type="text" pInputText class="w-full mb-3" [(ngModel)]="username">

        <label for="password1" class="block text-900 font-medium mb-2">Şifre</label>
        <input id="password1" type="password" pInputText class="w-full mb-3" [(ngModel)]="password">

        

        <button pButton pRipple label="Giriş Yap" icon="pi pi-user" class="w-full" (click)="loginUser()"></button>
    </div>
</div>
</div>





